<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Hollowdadon</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <i class="fa fa-user-circle" aria-hidden="true"></i> User Managment
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {{# if login }}
                              <a class="dropdown-item" href="/user/profiler">User Account Profile</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="/user/logout">Logout</a>
                          {{ else }}
                               <a class="dropdown-item" href="/user/signup">Sign up</a>
                               <div class="dropdown-divider"></div>
                               <a class="dropdown-item" href="/user/login">Login</a>
                           {{/if}}
   
          </div>
  
          
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shopping-cart/">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping Cart
            <span class="badge badge-pill badge-primary">{{session.cart.totalQty}}</span>
            </a>
        </li>
      </ul>
    </div>
  </nav>