<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>

        <p>Login or Register with:</p>

        <a href="/user/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/user/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        <a href="/" class="btn btn-default"><span class="fa fa-shopping-cart"></span> Back to store</a>
    </div>

</div>
</body>
</html>
