<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">User Profile</h1>

                    <p class="text-center">
                         <i class="fa fa-envelope" aria-hidden="true"></i><strong>email</strong>: {{user.local.email}}<br> 
                    </p>
        <hr>
        <h2 class="text-center text-success">My orders</h2>
            {{# each orders}}
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="list-group"> 
                        {{# each this.items}}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{this.item.title}} | {{this.qty}} Units
                            <span class="badge badge-primary badge-pill">{{this.price}}$</span>
                        </li>
                    {{/each}}
                    </ul>
            </div>
            <div class="panel-footer">
                <h3 class="text-primary">Total order price $ {{this.cart.totalPrice}}</h3>
            </div>
        </div>
        {{/each}}
    </div>
    </div>

</div>
