
    @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
    @import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);
    
    .hm-gradient {
        background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    }

    .bg-primary {
     background-color: #000 !important;
    }

    .bg-circle
    {
      display: inline-block;
      width: 60px;
      height: 60px;
      padding: 14px 4px;
      color: #ececec;
      text-align: center;
      border-radius: 50%;
    }
    
    .bg-circle-outline
    {
      width: 50px;
      height: 50px;
      color:smoke;
      padding: 8px 2px;
      border: 2px solid;
      border-color: smoke;
      border-radius: 50%;
    }
    
    
    .bg-circle a, a:hover, .media a:focus
    {
      text-decoration: none !important;
      outline: none;
      color: #ececec;
    }
    .bg-circle-outline a, a:hover, .media a:focus
    {
      text-decoration: none !important;
      outline: none;
      color: #ececec;
    }
    
    .table>tbody>tr>td, .table>tfoot>tr>td{
      vertical-align: middle;
  }
  @media screen and (max-width: 600px) {
      table#cart tbody td .form-control{
      width:20%;
      display: inline !important;
    }
    .actions .btn{
      width:36%;
      margin:1.5em 0;
    }
    
    .actions .btn-info{
      float:left;
    }
    .actions .btn-danger{
      float:right;
    }
    
    table#cart thead { display: none; }
    table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
    table#cart tbody tr td:first-child { background: #333; color: #fff; }
    table#cart tbody td:before {
      content: attr(data-th); font-weight: bold;
      display: inline-block; width: 8rem;
    }
    
    
    
    table#cart tfoot td{display:block; }
    table#cart tfoot td .btn{display:block;}
    
  }

  .product-description {
    padding-left: 15px;
  }
  