   <body class="hm-gradient">

        
        <div class="container mt-4">

            <div class="row">

               {{#each products}}

                <div class="col-lg-4 col-md-12 mb-4">
                    
                    <div class="card">


                        <div class="view overlay hm-white-slight">
                            <img src="{{this.imagePath}}" class="img-fluid" alt="photo">
                            <a href="#!">
                                <div class="mask"></div>
                            </a>
                        </div>


                        <div class="card-body">

                            <h4 class="card-title">{{this.title}}</h4>

                            <p class="card-text">{{this.description}}.</p>
                            <p class="card-text">You can buy it for  ${{this.price}}</p>
                            <a href="/add-to-cart/{{this._id}}" class="btn btn-deep-orange btn-md">Add to cart!</a>
                        </div>

                    </div>

            
            </div>
            {{/each}}

        </div>

        

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>
      
  
</body>