{{# if products}}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<table id="cart" class="table table-hover table-condensed">
    				<thead>
						<tr>
							<th style="width:50%">Product</th>
							<th style="width:10%">Price</th>
							<th style="width:8%">Quantity</th>
							<th style="width:22%" class="text-center">Subtotal</th>
							<th style="width:10%"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							{{# each products}}
							<td data-th="Product">
								<div class="row">
									<div class="col-sm-2 hidden-xs"><img class="img-responsive" style="width: 72px; height: 72px;" src="{{this.item.imagePath}}"></div>
									<div class="col-sm-10">
										<h4 class="nomargin">{{this.item.title}}</h4>
										<p class="product-description">{{this.item.description}}</p>
									</div>
								</div>
							</td>
							<td data-th="Price">{{this.item.price}}</td>
							<td data-th="Quantity">{{this.qty}}</td>
							<td data-th="Subtotal" class="text-center">{{this.price}}</td>
							<td class="actions" data-th="">
                            <div class="dropdown">
                                <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 Remove Actions
                                </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="/delete/{{this.item._id}}">Remove one</a>
                                        <a class="dropdown-item" href="/remove/{{this.item._id}}">Delete all</a>
                                    </div>
                                </div>								
							</td>
						</tr>
						{{/each}}
					</tbody>
					<tfoot>
						<tr>
							<td><a href="/" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
							<td colspan="2" class="hidden-xs"></td>
							<td class="hidden-xs text-center"><h4>Total price  ${{this.totalPrice}} </h4></td>
							<td>								
								<form action="/charge" method="POST">
  									<script
    									src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    									data-key="pk_test_sQLkcbn7NFCdqJ7L9itGDyVq"
    									data-amount="{{this.totalPriceByOneHandred}}"
    									data-name="Demo Site"
    									data-description="Widget"
    									data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    									data-locale="auto">
  									</script>
									  <script>
										  //Hide default stripe button
										  document.getElementsByClassName('stripe-button-el')[0]
										  .style.display = 'none';
									  </script>
									  <button type="submit" class="btn btn-primary">Pay with card</button>
								</form>
								</td>
						</tr>
					</tfoot>
				</table>

				<div class="col-xs-9">
					<h4 class="text-right">Total price $<strong>{{this.totalPrice}}</strong></h4>
				</div>
				<div class="col-xs-3">
					<p class="text-danger">Its a test mode, for payments you can use only 4242 4242 4242 4242 credit card!</p>
					<p class="text-danger">You can buy a product without login/signup but you will not see history of your orders in profile page</p>
						My code on bitbucket: 
                		<a href="https://bitbucket.org/hollowdadon/authent/src">https://bitbucket.org/hollowdadon/authent/src</a>
				</div>
	{{else}}
	<div class="row">
    	<div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        	<h2>No items in cart</h2>
    	</div>
	</div>
</div>
{{/if}}
