<div class="container">
	<div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
        <br><br> <h2 style="color:#0fad00">Success</h2>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRslc43eT8wWoEEU3rZjj2IxQaMEwocTPmPY4zfQ0A6hGV7Nmha">
        <h3>Dear Client</h3>
        <p style="font-size:20px;color:#5C5C5C;">Thank you for purchasing books at our store</p>
        <a href="/user/profiler" class="btn btn-success">     Back to shopping     </a>
    <br><br>
        </div>
        
	</div>
</div>